fastapi
uvicorn
pydantic
pandas
scikit-learn
google-generativeai
requests
python-multipart
streamlit
streamlit-folium
langchain
langchain-community
langchain-groq
sentence-transformers
faiss-cpu
pypdf
jinja2
